.container.text-center
  = link_to 'New Exhibit', new_admin_exhibit_path, :class => 'btn btn-primary pull-left'
  %h3
    Exhibits list

.table-responsive
  %table.table
    %tbody
      - @exhibits.each do |exhibit|
        %tr
          %td
            =link_to exhibit.name, admin_exhibit_path(exhibit)
          %td
            = exhibit.updated_at
          %td
            = link_to raw('<i class="glyphicon glyphicon-pencil"></i> Edit'), edit_admin_exhibit_path(exhibit),:class => 'btn btn-default btn-sm'
          %td
            = link_to 'Versions', admin_exhibit_versions_path(exhibit),:class => 'btn btn-default btn-sm'
          %td
            = link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'), [:admin, exhibit], :method => :delete, :class => 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' }
  = paginate @exhibits
