.row
  .span4.offset4
    %h2 Sign up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :required => true, :autofocus => true, label_html: { class: 'col-sm-12' }
        = f.input :password, :required => true, label_html: { class: 'col-sm-12' }
        = f.input :password_confirmation, :required => true, label_html: { class: 'col-sm-12' }
      .form-actions
        .col-sm-12
          = f.button :submit, "Sign up"
    .col-sm-12
      = render "devise/shared/links"

