.row.exhibit-search-form.col-xs-offset-7
  = form_tag('/biographies', method: 'get', role: 'form', class: 'search-form') do
    .col-xs-9
      .form-group
        = search_field_tag 'search', nil, placeholder: 'Enter search term...', required: true, class: 'form-control'
      = link_to 'show all', search: nil
    .col-xs-1
      .form-group
        %button.btn.btn-primary.search-button
          %span.glyphicon.glyphicon-search

%h1 Biographies
.container
  %table
    %tr
      %th Name
      %th Description

    - @biographies.each do |biography|
      %tr
        %td= biography.name
        %td= biography.description
        %td= link_to 'show', biography_path(biography), class: 'btn btn-default btn-sm'
  .paginator.text-center
    = paginate @biographies
