= simple_form_for([:admin, @biography], :html => { :class => 'form-horizontal', :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :tags_string, my_wrapper_html: { class: 'col-sm-3' }
    .col-sm-12.padding
      #wmd-button-bar
      = f.input :description, input_html: { class: 'wmd-input', id: 'wmd-input', rows:"20" }, label_html: { class: 'title-center col-sm-12' }, my_wrapper_html: { class: 'col-sm-6 padding' }, wrapper:false
      .col-sm-6.padding
        #wmd-preview.wmd-preview.wmd-panel
  %br
  .form-actions
    = f.button :submit
= render 'admin/markdown_images/modal'
