= simple_nested_form_for([:admin, @biographi], :html => { :class => 'form-horizontal', :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :description, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    =f.simple_fields_for :pictures do |p|
      - if p.object.new_record?
        = p.input :image, :as => :file, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
      - else
        = image_tag p.object.image.url(:thumb)
        = p.hidden_field :_destroy
        = p.link_to_remove "remove", class: 'col-sm-2 control-label'
    .form-group
      = f.link_to_add "Add image", :pictures, class: 'col-sm-2 control-label'
    = f.input :registration_number, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :date_of_receipt, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :chronology, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :fund_creator, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :iframe, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :opportunity_for_transportation, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :the_degree_of_preservation, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :authenticity, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :the_electronic_version, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :size, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    = f.input :tags_string, label_html: { class: 'col-sm-2' }, my_wrapper_html: { class: 'col-sm-3' }
    .col-sm-12.padding
      #wmd-button-bar
      = f.input :description, input_html: { class: 'wmd-input', id: 'wmd-input', rows:"20" }, label_html: { class: 'title-center col-sm-12' }, my_wrapper_html: { class: 'col-sm-6 padding' }, wrapper:false
      .col-sm-6.padding
        #wmd-preview.wmd-preview.wmd-panel
  .form-actions
    = f.button :submit
= render 'admin/markdown_images/modal'
