%p#notice= notice

%p
  %b Name:
  = @biography.name
%p
  %b Description:
  = markdown @biography.description

= link_to 'Edit', edit_admin_biography_path(@biography)
\|
= link_to 'Back', admin_biographies_path
