= simple_form_for(@article, :html => { :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    .col-sm-12.padding
      = f.input :title
    .col-sm-12.padding
      = f.input :content, input_html: { class: 'wmd-input', id: 'wmd-input', rows:"20" }, my_wrapper_html: { class: 'col-sm-6 padding' }, wrapper:false, label_html: { class: 'title-center col-sm-12' }
      .col-sm-6.padding
        #wmd-preview.wmd-preview.wmd-panel
    = f.input :add_to_menu

  .form-actions
    = f.button :submit



