.row
  %h1 Listing articles
  = form_tag('/articles', method: 'get', role: 'form', class: 'search-form', remote: true) do
    .col-xs-4
      .form-group
        = search_field_tag 'search', nil, placeholder: 'Enter search term...', required: true, class: 'form-control'
      = link_to 'show all', search: nil
    .col-xs-1
      .form-group
        %button.btn.btn-primary.search-button
          %span.glyphicon.glyphicon-search

  %ul.articles
    - @articles.each do |article|
      %li= link_to article.title, article
  .paginator
    = paginate @search.hits if @search

