%h1 Listing museums

= link_to 'New Museum', new_admin_museum_path, class: 'btn btn-primary btn-sm'
.container.table-responsive
  %table.table
    %tbody
      %tr
        %th Name
        %th Address
        %th Latitude
        %th Longitude
        %th
        %th
        %th

      - @museums.each do |museum|
        %tr
          %td= museum.name
          %td= museum.address
          %td= museum.latitude
          %td= museum.longitude
          %td= link_to 'Show', [:admin, museum], class: 'btn btn-default btn-sm'
          %td= link_to 'Edit', edit_admin_museum_path(museum), class: 'btn btn-default btn-sm'
          %td= link_to 'Destroy', [:admin, museum], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'

