%h1 Listing museums

%table
  %tr
    %th Name
    %th Address
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @museums.each do |museum|
    %tr
      %td= museum.name
      %td= museum.address
      %td= museum.latitude
      %td= museum.longitude
      %td= link_to 'Show', [:admin, museum]
      %td= link_to 'Edit', edit_admin_museum_path(museum)
      %td= link_to 'Destroy', [:admin, museum], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Museum', new_admin_museum_path
