= simple_form_for(@exhibition) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.text_field :start, class: 'asdf','data-behaviour' => 'datepicker'
    = f.text_field :end, class: 'asdf','data-behaviour' => 'datepicker'
    = f.input :adress
    = f.input :virtual

  .form-actions
    = f.button :submit
