= simple_form_for(@exhibition) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.text_field :start, 'data-behaviour' => 'datepicker', 'data-date-format'=> "dd-mm-yyyy"
    = f.text_field :end, 'data-behaviour' => 'datepicker', 'data-date-format'=> "dd-mm-yyyy"
    = f.input :adress
    = f.input :virtual

  .form-actions
    = f.button :submit
