%h1 Listing exhibitions

%table
  %tr
    %th Name
    %th Description
    %th Start
    %th End
    %th Adress
    %th Latitude
    %th Longitude
    %th Virtual
    %th
    %th
    %th

  - @exhibitions.each do |exhibition|
    %tr
      %td= exhibition.name
      %td= exhibition.description
      %td= exhibition.start
      %td= exhibition.end
      %td= exhibition.adress
      %td= exhibition.latitude
      %td= exhibition.longitude
      %td= exhibition.virtual
      %td= link_to 'Show', exhibition
      %td= link_to 'Edit', edit_exhibition_path(exhibition)
      %td= link_to 'Destroy', exhibition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Exhibition', new_exhibition_path
