%p#notice= notice

%p
  %b Name:
  = @exhibition.name
%p
  %b Description:
  = @exhibition.description
%p
  %b Start date:
  = @exhibition.start_date
%p
  %b End date:
  = @exhibition.end_date
%p
  %b Adress:
  = @exhibition.adress
%p
  %img(src = "http://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@exhibition.latitude}%2C#{@exhibition.longitude}")
%p
  %b longitude:
  = @exhibition.longitude
  %b longitude:
  = @exhibition.latitude
%p
  %b Virtual:
  = @exhibition.virtual

= link_to 'Edit', edit_exhibition_path(@exhibition)
\|
= link_to 'Back', exhibitions_path
