.row
  .col-xs-4
    %h3
      = @exhibition.name
    %p
      %b Description:
      = @exhibition.description
    %p
      %b Start date:
      = @exhibition.start_date
    %p
      %b End date:
      = @exhibition.end_date
    %p
      %b Adress:
      = @exhibition.adress
    %p
      %b Virtual:
      = @exhibition.virtual
    = link_to 'Back', exhibitions_path
    \|
    = link_to 'Printable Info-Cards (PDF)', admin_exhibition_path(@exhibition, format: 'pdf'), target: 'blank'

  .col-xs-4
    .exhibits-list
      %h3 Exhibits
      - if @exhibition.exhibits.any?
        = render @exhibition.exhibits
      - else
  .col-xs-4
    %p
      %br
      %br
      %br
      %img(src = "http://maps.googleapis.com/maps/api/staticmap?size=350x300&sensor=false&zoom=16&markers=#{@exhibition.latitude}%2C#{@exhibition.longitude}" width = "100%")
    %p
      %b longitude:
      = @exhibition.longitude
      %b latitude:
      = @exhibition.latitude


