%h1 Listing exhibits

%table
  %tr
    %th Name
    %th Registration number
    %th Date of receipt
    %th Fund creator
    %th Opportunity for transportation
    %th The degree of preservation
    %th Authenticity
    %th The electronic version
    %th Size
    %th
    %th
    %th

  - @exhibits.each do |exhibit|
    %tr
      %td= exhibit.name
      %td= exhibit.registration_number
      %td= exhibit.date_of_receipt
      %td= exhibit.fund_creator
      %td= exhibit.opportunity_for_transportation
      %td= exhibit.the_degree_of_preservation
      %td= exhibit.authenticity
      %td= exhibit.the_electronic_version
      %td= exhibit.size
      %td= link_to 'Show', exhibit
      %td= link_to 'Edit', edit_exhibit_path(exhibit)
      %td= link_to 'Destroy', exhibit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Exhibit', new_exhibit_path
