= render @exhibit.pictures
%p
  %b Name:
  = @exhibit.name
%p
  %b Registration number:
  = @exhibit.registration_number
%p
  %b Date of receipt:
  = @exhibit.date_of_receipt
%p
  %b Fund creator:
  = @exhibit.fund_creator
%p
  %b Opportunity for transportation:
  = @exhibit.opportunity_for_transportation
%p
  %b The degree of preservation:
  = @exhibit.the_degree_of_preservation
%p
  %b Authenticity:
  = @exhibit.authenticity
%p
  %b The electronic version:
  = @exhibit.the_electronic_version
%p
  %b Size:
  = @exhibit.size
%p
  %b Description:
  = markdown @exhibit.description
%p
  - @exhibit.tags.each do |tag|
    = link_to tag.name, tag_path(tag)
%p
  - @exhibit.biographies.each do |biography|
    = link_to biography.name, biography_path(biography)   

= link_to 'Edit', edit_exhibit_path(@exhibit)
= link_to 'Back', exhibits_path
