%h2.text-center
  = @exhibit.name
.code.text-center
  = @exhibit.registration_number

- unless @exhibit.pictures.empty?
  .row
    .col-md-12
      #wrapper
        #carousel-wrapper
          %img#shadow{src: "/uploads/img/gui/carousel_shadow.png"}
          #carousel
            - @exhibit.pictures.each do |picture|
              %span{id: [picture]}
                %img{src: "#{picture.image}"}/
        - if @exhibit.pictures.count > 1
          #thumbs-wrapper
            #thumbs
              - @exhibit.pictures.each do |picture|
                %a{href: "##{picture}"}
                  %img{src: "#{picture.image.url(:thumb)}"}/
            %a#prev{href: "#"}
            %a#next{href: "#"}
.col-md-12.text-center
  =raw @exhibit.iframe
.row
  .col-md-12
    .table-responsive
      %table.table
        %dl.dl-horizontal
          %dt Дата надходження
          %dd
            = @exhibit.date_of_receipt
          %dt Рік
          %dd
            = @exhibit.chronology
          %dt Фондоутворювач
          %dd
            = @exhibit.fund_creator
          %dt Можливість до транспортування
          %dd
            = @exhibit.opportunity_for_transportation
          %dt Ступінь збереженості
          %dd
            = @exhibit.the_degree_of_preservation
          %dt Автентичність
          %dd
            = @exhibit.authenticity
          %dt Електронна версія
          %dd
            = @exhibit.the_electronic_version
          %dt Розміри
          %dd
            = @exhibit.size
          %dt Теги
          %dd
            - @exhibit.tags.each do |tag|
              = link_to tag.name, tag_path(tag)
          %dt Опис
          %dd
            = markdown @exhibit.description
