= simple_form_for([:admin, @exhibition]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :start_date, as: :bootstrap_datepicker, :input_html => { 'data-behaviour' => 'datepicker', 'data-date-format'=> "dd-mm-yyyy" }
    = f.input :end_date, as: :bootstrap_datepicker, :input_html => {'data-behaviour' => 'datepicker', 'data-date-format'=> "dd-mm-yyyy" }
    = f.input :adress
    = f.input :virtual

  .form-actions
    = f.button :submit

.text-center
  %h3
    Versions
  -@number=@versions.length
  .table-responsive
    %table.table
      %thead
        %tr
          %th
            № of version:
          %th
            Athor:
          %th
            Created:
      %tbody
        - @versions.reverse_each do |version|
          %tr
            %td
              #{@number}
            %td
              = version.whodunnit
            %td
              = version.created_at.strftime("%m/%d/%Y at %I:%M%p")
            %td
              = link_to "View version", {:version => (@number).to_i},:class => 'btn btn-default btn-xs'
            -@number=@number-1
