= link_to 'New Exhibit', new_exhibit_path, :class => 'btn btn-info btn-block'
%h3
  Exhibits list
- @exhibits.each do |exhibit|
  .row.item-el
    .col-md-2
    .col-xs-12.col-md-3.item-name
      =link_to exhibit.name, exhibit_path(exhibit)
    .col-xs-1.visible-md
    .col-xs-8.col-md-3.item-change
      Last edit:
      = exhibit.updated_at
    .hidden-xs.col-sm-1.col-md-1.col-lg-1
      = link_to raw('<i class="glyphicon glyphicon-pencil"></i> Edit'), edit_exhibit_path(exhibit),:class => 'btn btn-info btn-sm'
    .hidden-xs.col-sm-1.col-md-1.col-lg-1
      = link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'), exhibit, :method => :delete, :class => 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' }
    .col-xs-1.hidden-sm.hidden-md.hidden-lg
      = link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_exhibit_path(exhibit),:class => 'btn btn-info btn-sm'
    .col-xs-1.hidden-sm.hidden-md.hidden-lg
      = link_to raw('<i class="glyphicon glyphicon-trash"></i>'), exhibit, :method => :delete, :class => 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' }
    .col-md-2
= paginate @exhibits

