.row
  .col-xs-4.col-xs-offset-4
    %h2= t "devise.invitations.new.header"
    = simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
      = f.error_notification
      - resource.class.invite_key_fields.each do |field|
        = f.input field
      .form-actions
        = f.button :submit, "Send invitation"
