= simple_form_for([:admin, @property]) do |f|
  = f.error_notification

  .form-inputs
    .col-sm-4.padding
      = f.input :title
      = f.input :value
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  .form-actions
    = f.button :submit
