= simple_form_for([:admin, @property]) do |f|
  = f.error_notification

  .form-inputs
    .col-sm-4.padding
      = f.input :title
      - if @property.title == 'mainPageTags'
        = f.input :value, input_html: { class: 'special' }
      - else
        = f.input :value
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  .form-actions
    = f.button :submit
