%h1 Listing properties

%table
  %tr
    %th Title
    %th Value
    %th
    %th
    %th

  - @properties.each do |property|
    %tr
      %td= property.title
      %td= property.value
      %td= link_to 'Show', [:admin, property]
      %td= link_to 'Edit', edit_admin_property_path(property)
      %td= link_to 'Destroy', [:admin, property], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Property', new_admin_property_path
