!!! 5
%html
  %head
    %title= property('title')
    = stylesheet_link_tag    'public/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'public/application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    #wrap
      #header
        .container

          %h1.visible-md.visible-lg.visible-sm.text-center= property('title')

          .row
            %nav.navbar.navbar-default{role: "navigation"}
              .navbar-header
                %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar

                %a.navbar-brand.visible-xs{href: "#"}= property('title')
              .collapse.navbar-collapse.navbar-ex1-collapse
                %ul.nav.navbar-nav
                  %li
                    %a{href: exhibits_path} Експонати
                  %li
                    %a{href: exhibitions_path} Виставки
                  %li
                    %a{href: audio_exhibits_path} Аудіо
                  %li
                    %a{href: video_exhibits_path} Відео
                  %li
                    %a{href: articles_path} Статті
                  %li
                    %a{ href: biographies_path } Біографії
                  %li
                    %a{href: articles_path} Документи
                  %li
                    %a{href: "#"} Музеї
                  - Article.add_to_menu.each do |article|
                    %li= link_to article.title, article
                  %li
                    %a{href: search_index_path, id: 'search_link'} Пошук


      .container
        - flash.each do |key, value|
          = content_tag(:div, value, class: "alert alert-#{key}")
        = yield
      #push

    #footer.text-center= '© ' + property('title')
