!!! 5
%html
  %head
    %title Scout museum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrap
      #header
        .container
          %h1.visible-md.visible-lg.visible-sm.text-center Музей-архів пластового руху
          .row
            %nav.navbar.navbar-default{role: "navigation"}
              .navbar-header
                %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                %a.navbar-brand.visible-xs{href: "#"} Музей-архів пластового руху
              .collapse.navbar-collapse.navbar-ex1-collapse
                %ul.nav.navbar-nav
                  %li
                    %a{href: "#"} Категорії
                  %li
                    %a{href: "#"} Виставки
                  %li
                    %a{href: "#"} Статті
                  %li
                    %a{href: "#"} Пошук
                  %li
                    %a{href: "#"} Допомога
                  %li
                    %a{href: "#"} Контакти

      .container
        - flash.each do |key, value|
          = content_tag(:div, value, class: "alert alert-#{key}")
        = yield
      #push

    #footer.text-center
      Музей-архів пластового руху ©
